<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>个人中心</title>
    <link rel="stylesheet" type="text/css" href="../../lib/css/aui.css"/>
    <!--<link rel="stylesheet" type="text/css" href="../../lib/css/aui-slide.css"/>-->
    <link rel="stylesheet" type="text/css" href="mine.css">
</head>
<body>
<header>
    <!--<a href="javascript:history.go(-1)"><p class="back"><i class="aui-iconfont aui-icon-left"></i></p></a>-->
    <!--<p class="tit aui-text-default">增加参会人</p>-->
    <div class="share head-right-text"><p class="remind-icon aui-margin-t-10 aui-margin-l-10"><img src="../../image/share/remind.png" alt=""></p></div>
</header>
<div class="aui-content">
    <div id="mine" class="aui-padded-15 flex">
        <div class="mine-head"><img src="../../image/share/user.png" alt=""></div>
        <div class="mine-name aui-margin-l-10">张习福Hunter</div>
    </div>
    <div class="mine-msg">
        <div class="mine-msg-top aui-padded-l-15 aui-padded-r-15">
            <div class="msg-vip-head flex aui-padded-t-5 aui-padded-b-5 aui-padded-l-10 aui-padded-r-10">
                <div class="flex">
                    <div class="vip-icon"><img src="../../image/share/vip-icon.png" alt=""></div>
                    <p class="vip-text">免费看所有视频</p>
                </div>
                <p class="vip-text2">立即开通</p>
            </div>
        </div>
        <ul class="mine-msg-con flex aui-padded-l-15 aui-padded-r-15 aui-padded-t-10 aui-padded-b-15">
            <li>
                <div class="msg-icon"><img src="../../image/share/order.png" alt=""></div>
                <div class="msg-text">订单</div>
            </li>
            <li>
                <div class="msg-icon"><img src="../../image/share/gift.png" alt=""></div>
                <div class="msg-text">喜欢</div>
            </li>
            <li>
                <div class="msg-icon"><img src="../../image/share/like.png" alt=""></div>
                <div class="msg-text">收藏</div>
            </li>
            <li>
                <div class="msg-icon"><img src="../../image/share/sign.png" alt=""></div>
                <div class="msg-text">签到</div>
            </li>
        </ul>
        <div class="line-box aui-padded-t-0 aui-padded-l-15 aui-padded-r-15 aui-padded-b-15 aui-margin-b-15">
            <p class="line"></p>
        </div>

    </div>
    <ul class="aui-list aui-margin-b-10 aui-list-in">
        <li class="aui-list-item">
            <div class="aui-list-item-inner aui-list-item-arrow">我的参会人</div>
        </li>
    </ul>
    <ul class="aui-list aui-margin-b-10 aui-list-in">
        <li class="aui-list-item">
            <div class="aui-list-item-inner aui-list-item-arrow">我的收藏</div>
        </li>
    </ul>
    <ul class="aui-list aui-margin-b-10 aui-list-in">
        <li class="aui-list-item">
            <div class="aui-list-item-inner aui-list-item-arrow">意见反馈</div>
        </li>
        <li class="aui-list-item">
            <div class="aui-list-item-inner aui-list-item-arrow">关于我们</div>
        </li>
    </ul>
    <ul class="aui-list aui-margin-b-10 aui-list-in">
        <li class="aui-list-item">
            <div class="aui-list-item-inner aui-list-item-arrow">设置</div>
        </li>
    </ul>
</div>
</body>
<script src="../../lib/js/jquery-3.3.1.min.js"></script>
<script src="../../lib/js/api.js"></script>
<!--<script type="text/javascript" src="../../lib/js/aui-slide.js"></script>-->
<!--<script src="../../lib/js/aui-popup-new.js"></script>-->
<script src="mine.js"></script>
</html>