<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>在线课程</title>
    <link rel="stylesheet" type="text/css" href="../../lib/css/aui.css"/>
    <link rel="stylesheet" type="text/css" href="../../lib/css/aui-slide.css"/>
    <link rel="stylesheet" href="vip-onLine.css">
</head>
<body>
<div class="aui-content">
    <header>
        <a href="javascript:history.go(-1)"><p class="back"><i class="aui-iconfont aui-icon-left"></i></p></a>
        <p class="tit aui-text-default">在线课程</p>
        <p class="head-right-text">收藏</p>
    </header>
    <div class="head-banner">
        <div class="banner">
            <img src="../../image/zxkc.png" alt="">
        </div>
    </div>

    <!--专家有约-->
    <div class="expert aui-padded-t-15 aui-padded-b-15">
        <!--<p class="tit">专家有约</p>-->
        <div class="aui-row">
            <div class="aui-col-xs-6 aui-padded-10">
                <div class="pic"><img src="../../image/vip-item9.jpg" alt=""></div>
                <p class="item-name aui-ellipsis-2">如何避免手术切口感染</p>
                <div class="item-message flex">
                    <p class="price">￥<span>99</span></p>
                    <p class="vip-mark">VIP会员</p>
                    <p class="item-tip">会员免费</p>
                </div>
            </div>
            <div class="aui-col-xs-6 aui-padded-10">
                <div class="pic"><img src="../../image/vip-item10.png" alt=""></div>
                <p class="item-name aui-ellipsis-2">如何避免手术切口感染</p>
                <div class="item-message flex">
                    <p class="price">￥<span>99</span></p>
                    <p class="vip-mark">VIP会员</p>
                    <p class="item-tip">会员免费</p>
                </div>
            </div>
            <div class="aui-col-xs-6 aui-padded-10">
                <div class="pic"><img src="../../image/vip-item9.jpg" alt=""></div>
                <p class="item-name aui-ellipsis-2">如何避免手术切口感染</p>
                <div class="item-message flex">
                    <p class="price">￥<span>99</span></p>
                    <p class="vip-mark">VIP会员</p>
                    <p class="item-tip">会员免费</p>
                </div>
            </div>
            <div class="aui-col-xs-6 aui-padded-10">
                <div class="pic"><img src="../../image/vip-item10.png" alt=""></div>
                <p class="item-name aui-ellipsis-2">如何避免手术切口感染</p>
                <div class="item-message flex">
                    <p class="price">￥<span>99</span></p>
                    <p class="vip-mark">VIP会员</p>
                    <p class="item-tip">会员免费</p>
                </div>
            </div>
        </div>
        <!--<div class="flex more-text">-->
            <!--<p class="text-line">——</p>-->
            <!--<div class="tit-text aui-margin-l-5 aui-margin-r-5">查看更多</div>-->
            <!--<p class="text-line">——</p>-->
        <!--</div>-->
    </div>

    <!--开通会员-->
    <!--<div class="become-vip aui-padded-10">-->
        <!--<div class="aui-btn aui-btn-warning aui-btn-block aui-btn-sm vip-btn">开通会员</div>-->
    <!--</div>-->
</div>
</body>
<script src="vip-onLine.js"></script>
</html>