<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>关于我们</title>
    <link rel="stylesheet" type="text/css" href="../../lib/css/aui.css"/>
    <!--<link rel="stylesheet" type="text/css" href="../../lib/css/aui-slide.css"/>-->
    <link rel="stylesheet" type="text/css" href="about-us.css">
</head>
<body>
<header>
    <a href="javascript:history.go(-1)"><p class="back"><i class="aui-iconfont aui-icon-left"></i></p></a>
    <p class="tit aui-text-default">关于我们</p>
    <!--<div class="share head-right-text">关闭</div>-->
</header>
<div class="aui-content">
    <div class="line-item item-top aui-padded-t-15 aui-padded-b-15 aui-margin-l-15 aui-padded-l-5 aui-padded-r-15">
        <div class="line-left">
            <p class="left-tit">创伤</p>
            <p class="left-msg">软件版本:V 0.0.30(20190315)</p>
            <P class="left-msg">软件授权:谦迈科技</P>
        </div>
        <div class="line-right">
            <div class="logo"><img src="../../image/share/logo.png" alt=""></div>
        </div>
    </div>
    <div class="line-item aui-padded-t-15 aui-padded-b-15 aui-margin-l-15 aui-padded-l-5 aui-padded-r-15">
        <div class="line-left left-text">联系我们:</div>
        <div class="line-right aui-text-warning">021-333333333</div>
    </div>
    <div class="line-item aui-padded-t-15 aui-padded-b-15 aui-margin-l-15 aui-padded-l-5 aui-padded-r-15">
        <div class="line-left left-text">企业邮箱:</div>
        <div class="line-right">hunter@huntervei.com</div>
    </div>
    <div class="line-item aui-padded-t-15 aui-padded-b-15 aui-margin-l-15 aui-padded-l-5 aui-padded-r-15">
        <div class="line-left left-text">微信公众号:</div>
        <div class="line-right">8分钟创伤</div>
    </div>
    <div class="bot-text aui-padded-15 aui-margin-l-5">上海谦迈网络科技有限公司是一家网络运营医学教育的新型科技企业。</div>
    <div class="bot-text aui-padded-15 aui-margin-l-5">公司于2016年成立于上海，拥有一支专业团队，利用时代前沿科技，开创了运用网络科技传达高科技高质量教育知识的先例。</div>
</div>
</body>
<script src="../../lib/js/jquery-3.3.1.min.js"></script>
<script src="../../lib/js/api.js"></script>
<script src="../../lib/js/aui-dialog.js"></script>
<script src="about-us.js"></script>
</html>