<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>讲堂详情</title>
    <link rel="stylesheet" type="text/css" href="../../lib/css/aui.css"/>
    <link rel="stylesheet" type="text/css" href="../../lib/css/aui-slide.css"/>
    <link rel="stylesheet" type="text/css" href="lecture-detail.css">
</head>
<body>
<div class="aui-content">
    <header>
        <a href="javascript:history.go(-1)"><p class="back"><i class="aui-iconfont aui-icon-left"></i></p></a>
        <p class="tit aui-text-default">讲堂详情</p>
        <p class="share head-right-text"><i class="aui-iconfont aui-icon-share"></i></p>
    </header>
    <div id="aui-slide">
        <div class="aui-slide-wrap">
            <div class="aui-slide-node aui-padded-l-15 aui-padded-r-15 aui-padded-t-5 aui-padded-b-15">
                <img src="../../image/vip-item8.jpg"/>
            </div>
            <div class="aui-slide-node aui-padded-l-15 aui-padded-r-15 aui-padded-t-5 aui-padded-b-15">
                <img src="../../image/vip-item8.jpg"/>
            </div>
            <div class="aui-slide-node aui-padded-l-15 aui-padded-r-15 aui-padded-t-5 aui-padded-b-15">
                <img src="../../image/vip-item8.jpg"/>
            </div>
        </div>
        <div class="aui-slide-page-wrap"><!--分页容器--></div>
    </div>
    <!--<div class="aui-tab" id="tab">-->
        <!--<div class="aui-tab-item aui-active">课堂详情</div>-->
        <!--<div class="aui-tab-item">课程表</div>-->
        <!--<div class="aui-tab-item">专家简介</div>-->
    <!--</div>-->
    <div class="tit-top aui-padded-l-15 aui-padded-r-15 aui-padded-t-15 flex">
        <p class="top-text">课堂详情</p>
        <div class="aui-btn aui-btn-warning">邀请函</div>
    </div>
    <div class="con">
        <div class="con-item con-active">
            <div class="top">
                <div class="top-tit aui-padded-15">
                    <p>开放性骨折肢体重建</p>
                </div>
                <div class="aui-padded-t-15 top-msg flex">
                    <img src="../../image/lecture-detail.png" alt="">
                </div>
            </div>
        </div>
        <!--<div class="con-item">-->
            <!--<div class="top aui-padded-15">-->
                <!--<div class="top-tit">-->
                    <!--<p>开放性骨折肢体重建课程表</p>-->
                <!--</div>-->
                <!--<div class="aui-padded-t-15 top-msg flex">-->
                    <!--<img src="../../image/lecture-detail2.png" alt="">-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="con-item">-->
            <!--<div class="top aui-padded-15">-->
                <!--<div class="top-tit">-->
                    <!--<p>开放性骨折肢体重建简介</p>-->
                <!--</div>-->
                <!--<div class="aui-padded-t-15 top-msg flex">-->
                    <!--<img src="../../image/lecture-detail3.png" alt="">-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    </div>
    <div class="btns flex">
        <div class="aui-btn">会员免费</div>
        <div id="sign-up" class="aui-btn aui-btn-warning">立即报名</div>
    </div>
</div>
<div class="aui-mask share-mask aui-mask-in"></div>
<div class=" share-box ">
    <div class="aui-padded-15 share-items flex">
        <div class="share-item" id="share-wx">
            <div class="icon-box aui-padded-15">
                <div class="share-icon"><img src="../../image/share/wx.png" alt=""></div>
            </div>
            <p class="share-text">微信</p>
        </div>
        <div class="share-item" id="share-circle">
            <div class="icon-box aui-padded-15">
                <div class="share-icon"><img src="../../image/share/wx-circle.png" alt=""></div>
            </div>
            <p class="share-text">朋友圈</p>
        </div>
        <div class="share-item" id="share-copy">
            <div class="icon-box aui-padded-15">
                <div class="share-icon"><img src="../../image/share/copy.png" alt=""></div>
            </div>
            <p class="share-text">复制链接</p>
        </div>
    </div>
    <div class="close-mask">取&nbsp;&nbsp;消</div>
</div>
</body>
<script src="../../lib/js/jquery-3.3.1.min.js"></script>
<script src="../../lib/js/api.js"></script>
<script type="text/javascript" src="../../lib/js/aui-slide.js"></script>
<script src="../../lib/js/aui-popup-new.js"></script>
<script src="lecture-detail.js"></script>
</html>