<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>AUI-test</title>
    <link rel="stylesheet" type="text/css" href="../../lib/css/aui.css"/>
    <link rel="stylesheet" type="text/css" href="../../lib/css/aui-slide.css"/>
    <link rel="stylesheet" href="live.css">
</head>
<body>
<header>
    <a href="javascript:history.go(-1)"><p class="back"><i class="aui-iconfont aui-icon-left"></i></p></a>
    <p class="tit aui-text-default">直播</p>
    <p></p>
</header>
<div class="aui-content">
    <div class="live-box">
        <!-- <a href=""> -->
            <div class="audio-img">
                <img src="../../image/live1.png" alt="">
                <div class="desc">
                    <p class="desc-tit">『创伤·骨科』</p>
                    <p class="desc-txt">共3场直播</p>
                </div>
                <p class="aui-ellipsis-1 introduce-text">这是本视频的简介这是本视频的简介这是本视频的简介这是本视频的简介这是本视频的简介这是本视频的简介这是本视频的简介</p>
            </div>
        <!-- </a> -->
        <div class="flex aui-padded-10">
            <p class="area-text"><i class="aui-iconfont aui-icon-map"></i>中国·江苏</p>
            <div class="time">
                <div class="live-icon"><i class="aui-iconfont aui-icon-video"></i>LIVE</div>
            </div>
        </div>
    </div>
    <div class="live-box">
        <div class="audio-img">
            <img src="../../image/live2.png" alt="">
            <div class="desc">
                <p class="desc-tit">『创伤·骨科』</p>
                <p class="desc-txt">共3场直播</p>
            </div>
            <p class="aui-ellipsis-1 introduce-text">这是本视频的简介这是本视频的简介这是本视频的</p>
        </div>
        <div class="flex aui-padded-10">
            <p class="area-text"><i class="aui-iconfont aui-icon-map"></i>中国·福建</p>
            <!--<div class="time">-->
                <!--<p>5月10日</p>-->
            <!--</div>-->
        </div>
    </div>
    <div class="live-box">
        <div class="audio-img">
            <img src="../../image/live3.png" alt="">
            <div class="desc">
                <p class="desc-tit">四肢骨不连治疗技术</p>
                <p class="desc-txt">大师班</p>
                <p class="desc-txt">（回放）</p>
            </div>
            <p class="aui-ellipsis-1 introduce-text">这是本视频的简介这是介这是本视频的简介</p>
        </div>
        <div class="flex aui-padded-10">
            <p class="area-text"><i class="aui-iconfont aui-icon-map"></i>中国·江苏</p>
            <!--<div class="time">-->
                <!--<p>5月10日</p>-->
            <!--</div>-->
        </div>
    </div>
    <div class="live-box">
        <div class="audio-img">
            <img src="../../image/live4.png" alt="">
            <div class="desc">
                <p class="desc-tit">盆骨髋臼骨折治疗技术</p>
                <p class="desc-txt">治疗学习班</p>
                <p class="desc-txt">（回放）</p>
            </div>
            <p class="aui-ellipsis-1 introduce-text">这是本视频的简介</p>
        </div>
    </div>
    <div class="flex aui-padded-10">
        <p class="area-text"><i class="aui-iconfont aui-icon-map"></i>中国·江苏</p>
        <!--<div class="time">-->
        <!--<p>5月10日</p>-->
        <!--</div>-->
    </div>
</div>
</body>
<script src="../../lib/js/jquery-3.3.1.min.js"></script>
<script src="../../lib/js/jquery.cookie.js"></script>
<script src="../../lib/js/api.js"></script>
<script type="text/javascript" src="../../lib/js/aui-slide.js"></script>
<script src="live.js"></script>
</html>