<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>天玑有约</title>
    <link rel="stylesheet" type="text/css" href="../../lib/css/aui.css"/>
    <link rel="stylesheet" type="text/css" href="../../lib/css/aui-slide.css"/>
    <link rel="stylesheet" href="articles.css">
</head>
<body>
<header>
    <a href="javascript:history.go(-1)"><p class="back"><i class="aui-iconfont aui-icon-left"></i></p></a>
    <p class="tit aui-text-default">天玑有约</p>
    <p></p>
</header>
<div class="aui-content">
    <div id="aui-slide" class="aui-padded-t-10">
        <div class="aui-slide-wrap aui-padded-l-10 aui-padded-r-10">
            <div class="aui-slide-node bg-dark">
                <img src="../../image/con9.png"/>
            </div>
            <div class="aui-slide-node bg-dark">
                <img src="../../image/con9.png"/>
            </div>
            <div class="aui-slide-node bg-dark">
                <img src="../../image/con9.png"/>
            </div>
        </div>
        <div class="aui-slide-page-wrap"><!--分页容器--></div>
    </div>
    <div class="arts aui-padded-10">
        <div class="tit">天玑 . 文章</div>
        <ul class="lists">
            <li class="list-item aui-padded-t-10 aui-padded-b-10 flex">
                <div class="item-left"><img src="../../image/con8.png" alt=""></div>
                <div class="item-right">
                    <div class="item-tit aui-ellipsis-2">中国东北首例天玑@机器人辅助脊柱手术在沈阳完成</div>
                    <p class="author">作者：创伤学院</p>
                </div>
            </li>
            <li class="list-item aui-padded-t-10 aui-padded-b-10 flex">
                <div class="item-left"><img src="../../image/con8.png" alt=""></div>
                <div class="item-right">
                    <div class="item-tit aui-ellipsis-2">中国东北首例天玑@机器人辅助脊柱手术在沈阳完成</div>
                    <p class="author">作者：创伤学院</p>
                </div>
            </li>
        </ul>
        <div class="more aui-padded-t-10">更多 <i class="aui-iconfont aui-icon-right"></i></div>
    </div>
    <div class="audios aui-padded-10">
        <ul class="audio-lists">
            <li class="audio-item aui-margin-t-15 aui-margin-b-15">
                <div class="audio-img"><img src="../../image/vip-item8.jpg" alt=""></div>
                <div class="audio-tit aui-ellipsis-2">机器人辅助脊柱手术，在沈阳完成+双前柱空心螺钉内固定术</div>
                <div class="audio-msg aui-margin-t-10 flex">
                    <div class="audio-msg-left flex">
                        <div class="msg-left-left"><img src="../../image/share/user.png" alt=""></div>
                        <div class="msg-left-right">
                            <p class="name">讲师：王秋根</p>
                            <p>2小时前</p>
                        </div>
                    </div>
                    <div class="audio-msg-right flex">
                        <div class="audio-num flex">
                            <div class="icon"><img src="../../image/share/play.png" alt=""></div>
                            <p>5845</p>
                        </div>
                        <div class="audio-num">
                            <div class="icon"><img src="../../image/share/turn.png" alt=""></div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="audio-item aui-margin-t-15 aui-margin-b-15">
                <div class="audio-img"><img src="../../image/vip-item8.jpg" alt=""></div>
                <div class="audio-tit aui-ellipsis-2">机器人辅助脊柱手术，在沈阳完成+双前柱空心螺钉内固定术</div>
                <div class="audio-msg aui-margin-t-10 flex">
                    <div class="audio-msg-left flex">
                        <div class="msg-left-left"><img src="../../image/share/user.png" alt=""></div>
                        <div class="msg-left-right">
                            <p class="name">讲师：王秋根</p>
                            <p>2小时前</p>
                        </div>
                    </div>
                    <div class="audio-msg-right flex">
                        <div class="audio-num flex">
                            <div class="icon"><img src="../../image/share/play.png" alt=""></div>
                            <p>5845</p>
                        </div>
                        <div class="audio-num">
                            <div class="icon"><img src="../../image/share/turn.png" alt=""></div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="audio-item aui-margin-t-15 aui-margin-b-15">
                <div class="audio-img"><img src="../../image/vip-item8.jpg" alt=""></div>
                <div class="audio-tit aui-ellipsis-2">机器人辅助脊柱手术，在沈阳完成+双前柱空心螺钉内固定术</div>
                <div class="audio-msg aui-margin-t-10 flex">
                    <div class="audio-msg-left flex">
                        <div class="msg-left-left"><img src="../../image/share/user.png" alt=""></div>
                        <div class="msg-left-right">
                            <p class="name">讲师：王秋根</p>
                            <p>2小时前</p>
                        </div>
                    </div>
                    <div class="audio-msg-right flex">
                        <div class="audio-num flex">
                            <div class="icon"><img src="../../image/share/play.png" alt=""></div>
                            <p>5845</p>
                        </div>
                        <div class="audio-num">
                            <div class="icon"><img src="../../image/share/turn.png" alt=""></div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
</body>
<script src="../../lib/js/jquery-3.3.1.min.js"></script>
<script src="../../lib/js/api.js"></script>
<script type="text/javascript" src="../../lib/js/aui-slide.js"></script>
<script src="articles.js"></script>
</html>