<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>设置密码</title>
    <link rel="stylesheet" type="text/css" href="../../lib/css/aui.css"/>
    <link rel="stylesheet" type="text/css" href="../../lib/css/aui-slide.css"/>
    <link rel="stylesheet" href="setPassword.css">
</head>
<body>
<div class="aui-content">
    <header class="login-head">
        <a href="javascript:history.go(-1)"><p class="back"><i class="aui-iconfont aui-icon-left"></i></p></a>
        <p class="tit">设置密码</p>
    </header>
    <div class="main-write">
        <div class="input-box">
            <div class="con aui-margin-l-15 aui-margin-r-15"><input type="text" placeholder="请输入密码"></div>
        </div>
        <div class="input-box">
            <div class="con aui-margin-l-15 aui-margin-r-15"><input type="text" placeholder="请再次输入密码"></div>
        </div>

    </div>
    <a href="../login2/login2.html"><div class="login-text aui-margin-l-15">密码长度8~32位，必须包含数字、字母、符号至少两种或以上元素</div></a>
    <div class="login-btn aui-padded-l-15 aui-padded-r-15">
        <div class="aui-btn aui-btn-warning aui-btn-block">下一步</div>
    </div>
    <div class="login-help aui-padded-15 flex">
        <p><a href="../register/register.html">立即注册</a></p>
        <p><a href="../login2/login2.html">立即登录</a></p>
    </div>
    <div class="agree-text">注册即同意创伤<span>《服务使用协议》</span>和<span>《隐私政策》</span></div>
</div>
</body>
<script src="../../lib/js/jquery-3.3.1.min.js"></script>
<script src="../../lib/js/api.js"></script>
<script type="text/javascript" src="../../lib/js/aui-slide.js"></script>
<script src="setPassword.js"></script>
</html>