<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>我的收藏</title>
    <link rel="stylesheet" type="text/css" href="../../lib/css/aui.css"/>
    <!--<link rel="stylesheet" type="text/css" href="../../lib/css/aui-slide.css"/>-->
    <link rel="stylesheet" type="text/css" href="collection.css">
</head>
<body>
<header>
    <a href="javascript:history.go(-1)"><p class="back"><i class="aui-iconfont aui-icon-left"></i></p></a>
    <p class="tit aui-text-default">我的收藏</p>
    <div class="share head-right-text">编辑</div>
</header>
<div class="aui-content">
    <div class="chose-tab flex">
        <p class="tab aui-padded-t-5 aui-padded-b-5 tab-active">视频</p>
        <p class="tab aui-padded-t-5 aui-padded-b-5">文章</p>
    </div>
    <div class="con">
        <div class="con-item con-active">
            <ul class="item-list">
                <li class="item flex">
                    <div class="check aui-margin-l-10"><input class="aui-checkbox" type="checkbox"></div>
                    <div class="item-con aui-margin-l-15 aui-padded-l-10 aui-padded-t-15 aui-margin-r-15 aui-padded-b-15 flex">
                        <div class="con-l">
                            <p class="con-tit">老年股骨颈骨折的F型空心钉固定技术介绍</p>
                            <p class="con-text">老年股骨颈骨折的F型空心钉固定技术老年股骨颈骨折的F型空心钉固定技术</p>
                        </div>
                        <div class="con-r">
                            <div class="con-img"><img src="../../image/share/logo.png" alt=""></div>
                        </div>
                    </div>
                </li>
                <li class="item flex">
                    <div class="check aui-margin-l-10"><input class="aui-checkbox" type="checkbox"></div>
                    <div class="item-con aui-margin-l-15 aui-padded-l-10 aui-padded-t-15 aui-margin-r-15 aui-padded-b-15 flex">
                        <div class="con-l">
                            <p class="con-tit">老年股骨颈骨折的F型空心钉固定技术介绍</p>
                            <p class="con-text">老年股骨颈骨折的F型空心钉固定技术老年股骨颈骨折的F型空心钉固定技术</p>
                        </div>
                        <div class="con-r">
                            <div class="con-img"><img src="../../image/share/logo.png" alt=""></div>
                        </div>
                    </div>
                </li>
                <li class="item flex">
                    <div class="check aui-margin-l-10"><input class="aui-checkbox" type="checkbox"></div>
                    <div class="item-con aui-margin-l-15 aui-padded-l-10 aui-padded-t-15 aui-margin-r-15 aui-padded-b-15 flex">
                        <div class="con-l">
                            <p class="con-tit">老年股骨颈骨折的F型空心钉固定技术介绍</p>
                            <p class="con-text">老年股骨颈骨折的F型空心钉固定技术老年股骨颈骨折的F型空心钉固定技术</p>
                        </div>
                        <div class="con-r">
                            <div class="con-img"><img src="../../image/share/logo.png" alt=""></div>
                        </div>
                    </div>
                </li>
                <li class="item flex">
                    <div class="check aui-margin-l-10"><input class="aui-checkbox" type="checkbox"></div>
                    <div class="item-con aui-margin-l-15 aui-padded-l-10 aui-padded-t-15 aui-margin-r-15 aui-padded-b-15 flex">
                        <div class="con-l">
                            <p class="con-tit">老年股骨颈骨折的F型空心钉固定技术介绍</p>
                            <p class="con-text">老年股骨颈骨折的F型空心钉固定技术老年股骨颈骨折的F型空心钉固定技术</p>
                        </div>
                        <div class="con-r">
                            <div class="con-img"><img src="../../image/share/logo.png" alt=""></div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="con-item">
            <ul class="item-list">
                <li class="item flex">
                    <div class="check aui-margin-l-10"><input class="aui-checkbox" type="checkbox"></div>
                    <div class="item-con aui-margin-l-15 aui-padded-l-10 aui-padded-t-15 aui-margin-r-15 aui-padded-b-15 flex">
                        <div class="con-l">
                            <p class="con-tit">老年股骨颈骨折的F22型空心钉固定技术介绍</p>
                            <p class="con-text">老年股骨颈骨折的F型空心钉固定技术老年股骨颈骨折的F型空心钉固定技术</p>
                        </div>
                        <div class="con-r">
                            <div class="con-img"><img src="../../image/share/logo.png" alt=""></div>
                        </div>
                    </div>
                </li>
                <li class="item flex">
                    <div class="check aui-margin-l-10"><input class="aui-checkbox" type="checkbox"></div>
                    <div class="item-con aui-margin-l-15 aui-padded-l-10 aui-padded-t-15 aui-margin-r-15 aui-padded-b-15 flex">
                        <div class="con-l">
                            <p class="con-tit">老年股骨颈骨222折的F型空心钉固定技术介绍</p>
                            <p class="con-text">老年股骨颈骨折的F型空心钉固定技术老年股骨颈骨折的F型空心钉固定技术</p>
                        </div>
                        <div class="con-r">
                            <div class="con-img"><img src="../../image/share/logo.png" alt=""></div>
                        </div>
                    </div>
                </li>
                <li class="item flex">
                    <div class="check aui-margin-l-10"><input class="aui-checkbox" type="checkbox"></div>
                    <div class="item-con aui-margin-l-15 aui-padded-l-10 aui-padded-t-15 aui-margin-r-15 aui-padded-b-15 flex">
                        <div class="con-l">
                            <p class="con-tit">老年股骨颈骨折222的F型空心钉固定技术介绍</p>
                            <p class="con-text">老年股骨颈骨折的F型空心钉固定技术老年股骨颈骨折的F型空心钉固定技术</p>
                        </div>
                        <div class="con-r">
                            <div class="con-img"><img src="../../image/share/logo.png" alt=""></div>
                        </div>
                    </div>
                </li>
                <li class="item flex">
                    <div class="check aui-margin-l-10"><input class="aui-checkbox" type="checkbox"></div>
                    <div class="item-con aui-margin-l-15 aui-padded-l-10 aui-padded-t-15 aui-margin-r-15 aui-padded-b-15 flex">
                        <div class="con-l">
                            <p class="con-tit">老年股骨222颈骨折的F型空心钉固定技术介绍</p>
                            <p class="con-text">老年股骨颈骨折的F型空心钉固定技术老年股骨颈骨折的F型空心钉固定技术</p>
                        </div>
                        <div class="con-r">
                            <div class="con-img"><img src="../../image/share/logo.png" alt=""></div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div id="check-box">
        <div class="btns flex">
            <div class="aui-list-item-input">
                <div class="check-all aui-margin-l-10">
                    <label><input class="aui-checkbox aui-margin-r-10" type="checkbox">全选</label>
                </div>
            </div>
            <div id="sign-up" class="aui-btn aui-btn-warning">删除</div>
        </div>
    </div>
    <div id="check-box2">
        <div class="btns flex">
            <div class="aui-list-item-input">
                <div class="check-all aui-margin-l-10">
                    <label><input class="aui-checkbox aui-margin-r-10" type="checkbox">全选</label>
                </div>
            </div>
            <div id="sign-up2" class="aui-btn aui-btn-warning">删除</div>
        </div>
    </div>
</div>
</body>
<script src="../../lib/js/jquery-3.3.1.min.js"></script>
<script src="../../lib/js/api.js"></script>
<script src="../../lib/js/aui-dialog.js"></script>
<script src="collection.js"></script>
</html>