<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>公开课</title>
    <link rel="stylesheet" type="text/css" href="../../lib/css/aui.css"/>
    <link rel="stylesheet" type="text/css" href="../../lib/css/aui-slide.css"/>
    <link rel="stylesheet" href="lists.css">
</head>
<body>
<header>
    <a href="javascript:history.go(-1)"><p class="back"><i class="aui-iconfont aui-icon-left"></i></p></a>
    <p class="tit aui-text-default">公开课</p>
</header>
<div class="chose-tab flex">
    <p class="tab aui-padded-t-5 aui-padded-b-5 aui-padded-l-10 aui-padded-r-10 tab-active">公开课</p>
    <p class="tab aui-padded-t-5 aui-padded-b-5 aui-padded-l-10 aui-padded-r-10">微课堂</p>
    <p class="tab aui-padded-t-5 aui-padded-b-5 aui-padded-l-10 aui-padded-r-10">微视频</p>
    <p class="tab aui-padded-t-5 aui-padded-b-5 aui-padded-l-10 aui-padded-r-10">新闻动态</p>
</div>
<div class="aui-content">

    <ul class="con-lists list-active">
        <li class="con-item aui-margin-l-10 aui-margin-r-10">
            <div class="con flex">
                <div class="con-left aui-margin-r-10">
                    <p class="con-tit aui-ellipsis-2">误差不到1分钟！"透视眼"骨科手术机器人天玑&开工了！</p>
                    <p class="con-text aui-ellipsis">如果不小心骨折，你是否会选择用骨科手术</p>
                </div>
                <div class="con-right"><img src="../../image/live7.png" alt=""></div>
            </div>
            <div class="tag aui-margin-t-10 flex">
                <div class="tag-left flex">
                    <div class="tag-img"><img src="../../image/share/gkk.png" alt=""></div>
                    <p class="aui-margin-l-15">公开课</p>
                </div>
                <div class="tag-right flex">
                    <p class="tag-item aui-margin-l-5">手术</p>
                </div>
            </div>
        </li>
        <li class="con-item aui-margin-l-10 aui-margin-r-10">
            <div class="con">
                <p class="con-tit">误差不到1分钟！"透视眼"骨科手术机器人天玑&开工了！</p>
                <p class="con-text">如果不小心骨折，你是否会选择用骨科手术</p>
            </div>
            <div class="tag aui-margin-t-10 flex">
                <div class="tag-left flex">
                    <div class="tag-img"><img src="../../image/share/gkk.png" alt=""></div>
                    <p class="aui-margin-l-15">公开课</p>
                </div>
                <div class="tag-right flex">
                    <p class="tag-item aui-margin-l-5">足踝外壳</p>
                </div>
            </div>
        </li>
        <li class="con-item aui-margin-l-10 aui-margin-r-10">
            <div class="con">
                <p class="con-tit">误差不到1分钟！"透视眼"骨科手术机器人天玑&开工了！</p>
                <p class="con-text">如果不小心骨折，你是否会选择用骨科手术</p>
            </div>
            <div class="tag aui-margin-t-10 flex">
                <div class="tag-left flex">
                    <div class="tag-img"><img src="../../image/share/gkk.png" alt=""></div>
                    <p class="aui-margin-l-15">公开课</p>
                </div>
                <div class="tag-right flex">
                    <p class="tag-item aui-margin-l-5">足踝外壳</p>
                </div>
            </div>
        </li>
        <li class="con-item aui-margin-l-10 aui-margin-r-10">
            <div class="con">
                <p class="con-tit">误差不到1分钟！"透视眼"骨科手术机器人天玑&开工了！</p>
                <p class="con-text">如果不小心骨折，你是否会选择用骨科手术</p>
            </div>
            <div class="tag aui-margin-t-10 flex">
                <div class="tag-left flex">
                    <div class="tag-img"><img src="../../image/share/gkk.png" alt=""></div>
                    <p class="aui-margin-l-15">公开课</p>
                </div>
                <div class="tag-right flex">
                    <p class="tag-item aui-margin-l-5">足踝外壳</p>
                </div>
            </div>
        </li>
        <li class="con-item aui-margin-l-10 aui-margin-r-10">
            <div class="con flex">
                <div class="con-left aui-margin-r-10">
                    <p class="con-tit aui-ellipsis-2">误差不到1分钟！"透视眼"骨科手术机器人天玑&开工了！</p>
                    <p class="con-text aui-ellipsis">如果不小心骨折，你是否会选择用骨科手术</p>
                </div>
                <div class="con-right"><img src="../../image/live7.png" alt=""></div>
            </div>
            <div class="tag aui-margin-t-10 flex">
                <div class="tag-left flex">
                    <div class="tag-img"><img src="../../image/share/gkk.png" alt=""></div>
                    <p class="aui-margin-l-15">公开课</p>
                </div>
                <div class="tag-right flex">
                    <p class="tag-item aui-margin-l-5">手术</p>
                </div>
            </div>
        </li>
    </ul>
    <ul class="con-lists">微课堂</ul>
    <ul class="con-lists">微视频</ul>
    <ul class="con-lists">新闻动态</ul>
</div>
</body>
<script src="../../lib/js/jquery-3.3.1.min.js"></script>
<script src="../../lib/js/api.js"></script>
<script type="text/javascript" src="../../lib/js/aui-slide.js"></script>
<script src="lists.js"></script>
</html>