<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>VIP 会员</title>
    <link rel="stylesheet" type="text/css" href="../../lib/css/aui.css"/>
    <link rel="stylesheet" type="text/css" href="../../lib/css/aui-slide.css"/>
    <link rel="stylesheet" href="vip.css">
</head>
<body>
<div class="aui-content">
    <header>
        <a href="javascript:history.go(-1)"><p class="back"><i class="aui-iconfont aui-icon-left"></i></p></a>
        <p class="tit aui-text-default">VIP会员</p>
        <p class="head-right-text">收藏</p>
    </header>
    <div class="head-banner">
        <div class="banner aui-padded-l-10 aui-padded-r-10 aui-padded-b-15 aui-padded-t-15">
            <img src="../../image/vip-banner.png" alt="">
        </div>
    </div>
    <!--vip会员-->
    <div class="vip aui-padded-15">
        <p class="tit">VIP会员</p>
        <div class="flex tit2">
            <p class="text-line">——</p>
            <p class="tit-text aui-margin-l-5 aui-margin-r-5">会员专属权益</p>
            <p class="text-line">——</p>
        </div>
        <section class="aui-grid">
            <div class="aui-row">
                <div class="aui-col-xs-3">
                    <!--<a href="../vip-underLine/vip-underLine.html">-->
                        <div class="icon-btn">
                            <img src="../../image/vip-icon1.jpg" alt="">
                        </div>
                        <p class="aui-grid-label">线下课程</p>
                    <!--</a>-->
                </div>
                <div class="aui-col-xs-3">
                    <!--<a href="../vip-onLine/vip-onLine.html">-->
                        <div class="icon-btn">
                            <img src="../../image/vip-icon2.jpg" alt="">
                        </div>
                        <p class="aui-grid-label">在线课程</p>
                    <!--</a>-->
                </div>
                <div class="aui-col-xs-3">
                    <!--<a href="../vip-ops/vip-ops.html">-->
                        <div class="icon-btn">
                            <img src="../../image/vip-icon3.jpg" alt="">
                        </div>
                        <p class="aui-grid-label">手术视频</p>
                    <!--</a>-->
                </div>
                <div class="aui-col-xs-3">
                    <!--<a href="../vip-practice/vip-practice.html">-->
                        <div class="icon-btn">
                            <img src="../../image/vip-icon4.jpg" alt="">
                        </div>
                        <p class="aui-grid-label">实操课程</p>
                    <!--</a>-->
                </div>
            </div>
        </section>

    <!--会员推荐-->
    <div class="recommend aui-margin-t-15 aui-padded-t-15 aui-padded-b-15">
        <p class="tit">会员推荐</p>
        <div class="aui-row">
            <div class="aui-col-xs-6 aui-padded-10">
                <div class="pic"><img src="../../image/vip-item1.jpg" alt=""></div>
            </div>
            <div class="aui-col-xs-6 aui-padded-10">
                <div class="pic"><img src="../../image/vip-item2.jpg" alt=""></div>
            </div>
            <div class="aui-col-xs-6 aui-padded-10">
                <div class="pic"><img src="../../image/vip-item3.jpg" alt=""></div>
            </div>
            <div class="aui-col-xs-6 aui-padded-10">
                <div class="pic"><img src="../../image/vip-item4.jpg" alt=""></div>
            </div>
        </div>
    </div>

    <!--专家有约-->
    <div class="expert aui-margin-t-15 aui-padded-t-15 aui-padded-b-15">
        <p class="tit">专家有约</p>
        <div class="aui-row">
            <div class="aui-col-xs-6 aui-padded-10">
                <div class="pic"><img src="../../image/vip-item5.jpg" alt=""></div>
                <p class="item-name aui-ellipsis-2">如何避免手术切口感染</p>
                <div class="item-message flex">
                    <p class="price">￥<span>99</span></p>
                    <p class="vip-mark">VIP会员</p>
                    <p class="item-tip">会员免费</p>
                </div>
            </div>
            <div class="aui-col-xs-6 aui-padded-10">
                <div class="pic"><img src="../../image/vip-item5.jpg" alt=""></div>
                <p class="item-name aui-ellipsis-2">如何避免手术切口感染</p>
                <div class="item-message flex">
                    <p class="price">￥<span>99</span></p>
                    <p class="vip-mark">VIP会员</p>
                    <p class="item-tip">会员免费</p>
                </div>
            </div>
            <div class="aui-col-xs-6 aui-padded-10">
                <div class="pic"><img src="../../image/vip-item5.jpg" alt=""></div>
                <p class="item-name aui-ellipsis-2">如何避免手术切口感染</p>
                <div class="item-message flex">
                    <p class="price">￥<span>99</span></p>
                    <p class="vip-mark">VIP会员</p>
                    <p class="item-tip">会员免费</p>
                </div>
            </div>
            <div class="aui-col-xs-6 aui-padded-10">
                <div class="pic"><img src="../../image/vip-item5.jpg" alt=""></div>
                <p class="item-name aui-ellipsis-2">如何避免手术切口感染</p>
                <div class="item-message flex">
                    <p class="price">￥<span>99</span></p>
                    <p class="vip-mark">VIP会员</p>
                    <p class="item-tip">会员免费</p>
                </div>
            </div>
        </div>
        <div class="flex more-text">
            <p class="text-line">——</p>
            <a href="../vip-expert/vip-expert.html"><div class="tit-text aui-margin-l-5 aui-margin-r-5">查看更多</div></a>
            <p class="text-line">——</p>
        </div>
    </div>

    <!--手术视频-->
    <div class="ops aui-margin-t-15 aui-padded-t-15 aui-padded-b-15">
        <p class="tit">手术视频</p>
        <div class="flex tit2">
            <p class="text-line">——</p>
            <p class="tit-text aui-margin-l-5 aui-margin-r-5">直击手术现场</p>
            <p class="text-line">——</p>
        </div>
        <div class="aui-row">
            <div class="aui-col-xs-6 aui-padded-10">
                <div class="pic"><img src="../../image/vip-item6.jpg" alt=""></div>
                <p class="item-name aui-ellipsis-2">如何避免手术切口感染</p>
                <div class="item-message flex">
                    <p class="price">￥<span>99</span></p>
                    <p class="vip-mark">VIP会员</p>
                    <p class="item-tip">会员免费</p>
                </div>
            </div>
            <div class="aui-col-xs-6 aui-padded-10">
                <div class="pic"><img src="../../image/vip-item7.jpg" alt=""></div>
                <p class="item-name aui-ellipsis-2">如何避免手术切口感染</p>
                <div class="item-message flex">
                    <p class="price">￥<span>99</span></p>
                    <p class="vip-mark">VIP会员</p>
                    <p class="item-tip">会员免费</p>
                </div>
            </div>
        </div>
        <div class="flex more-text">
            <p class="text-line">——</p>
            <a href="../vip-ops/vip-ops.html">
                <div class="tit-text aui-margin-l-5 aui-margin-r-5">查看更多</div>
            </a>
            <p class="text-line">——</p>
        </div>
    </div>

    <!--终极医班-->
    <div class="medical aui-margin-t-15 aui-padded-t-15 aui-padded-b-15">
        <p class="tit">中级医班</p>
        <div class="flex tit2">
            <p class="text-line">——</p>
            <p class="tit-text aui-margin-l-5 aui-margin-r-5">王秋根教授现场授课</p>
            <p class="text-line">——</p>
        </div>
        <div class="medical-banner aui-margin-t-10"><img src="../../image/vip-item8.jpg" alt=""></div>
    </div>

    <!--线下会议-->
    <div class="ops aui-padded-t-15 aui-padded-b-15">
        <p class="tit">线下会议</p>
        <div class="flex tit2">
            <p class="text-line">——</p>
            <p class="tit-text aui-margin-l-5 aui-margin-r-5">线下课程专场</p>
            <p class="text-line">——</p>
        </div>
        <div class="aui-row">
            <div class="aui-col-xs-6 aui-padded-10">
                <div class="pic"><img src="../../image/vip-item9.jpg" alt=""></div>
                <p class="item-name aui-ellipsis-2">如何避免手术切口感染</p>
                <div class="item-message flex">
                    <p class="price">￥<span>99</span></p>
                    <p class="vip-mark">VIP会员</p>
                    <p class="item-tip">会员免费</p>
                </div>
            </div>
            <div class="aui-col-xs-6 aui-padded-10">
                <div class="pic"><img src="../../image/vip-item10.png" alt=""></div>
                <p class="item-name aui-ellipsis-2">如何避免手术切口感染</p>
                <div class="item-message flex">
                    <p class="price">￥<span>99</span></p>
                    <p class="vip-mark">VIP会员</p>
                    <p class="item-tip">会员免费</p>
                </div>
            </div>
        </div>
        <div class="flex more-text">
            <p class="text-line">——</p>
            <a href="../vip-underLine/vip-underLine.html">
                <div class="tit-text aui-margin-l-5 aui-margin-r-5">查看更多</div>
            </a>
            <p class="text-line">——</p>
        </div>
    </div>

    <!--开通会员-->
    <div class="become-vip aui-padded-10">
        <div class="aui-btn aui-btn-warning aui-btn-block aui-btn-sm vip-btn">开通会员</div>
    </div>
</div>
</body>
<script src="vip.js"></script>
</html>