<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>内容详情</title>
    <link rel="stylesheet" type="text/css" href="../../lib/css/aui.css"/>
    <link rel="stylesheet" type="text/css" href="../../lib/css/aui-slide.css"/>
    <link rel="stylesheet" type="text/css" href="article-detail.css">
</head>
<body>
<header>
    <a href="javascript:history.go(-1)"><p class="back"><i class="aui-iconfont aui-icon-left"></i></p></a>
    <p class="tit aui-text-default">内容详情</p>
    <!--<p class="share head-right-text"><i class="aui-iconfont aui-icon-share"></i></p>-->
</header>
<div class="aui-content">
    <div class="article-tit aui-margin-15">“一点”复位技巧—股骨远端篇</div>
    <div class="author-msg aui-margin-l-15 aui-margin-r-15 flex">
        <div class="author-left flex">
            <div class="auyhor-img aui-margin-r-10"><img src="../../image/share/user.png" alt=""></div>
            <div class="author-text">
                <p class="name">作者：<span>王满宜</span></p>
                <div class="time-watch flex">
                    <p class="time">2019-03-13</p>
                    <p class="watch aui-margin-l-15"><span>976</span>浏览</p>
                </div>
            </div>
        </div>
        <div class="author-right">
            <div class="aui-btn aui-btn-warning aui-btn-outlined">收藏</div>
        </div>
    </div>
    <ul class="article-con">
        <li class="con-item aui-margin-l-10 aui-margin-r-10 aui-margin-t-15 aui-margin-b-15">
            <p>2.1 股骨髁上粉碎骨折</p>
            <p>下面我想讲膝关节周围你要注意什么？</p>
        </li>
        <li class="con-item aui-margin-l-10 aui-margin-r-10 aui-margin-t-15 aui-margin-b-15">
            <p>我先讲一讲膝关节周围的一个股骨髁上粉碎骨折一个间接复位的方法。这在临床工作中也是非常非常重要的。</p>
        </li>
        <li class="con-item aui-margin-l-10 aui-margin-r-10 aui-margin-t-15 aui-margin-b-15">
            <p>因为像我们，在大城市，送来的病人有时候来两周，甚至有的是一个月，复位就会有问题</p>
        </li>
        <li class="con-item aui-margin-l-10 aui-margin-r-10 aui-margin-t-15 aui-margin-b-15">
            <p>怎么来解决? 用间接复位的方法，非常微创的把固定做好，这对一个临床医生也是非常重要的。</p>
        </li>
        <li class="con-item aui-margin-l-10 aui-margin-r-10 aui-margin-t-15 aui-margin-b-15">
            <img src="../../image/article.png" alt="">
        </li>
        <li class="con-item aui-margin-l-10 aui-margin-r-10 aui-margin-t-15 aui-margin-b-15">
            <p>那么来的这病人呢已经是两周了，所以复位一定是非常困难 。</p>
        </li>
        <li class="con-item aui-margin-l-10 aui-margin-r-10 aui-margin-t-15 aui-margin-b-15">
            <p>需要做牵引！</p>
            <p>我们过去用的牵引的办法就非常传统。</p>
        </li>
    </ul>
    <div class="relevant aui-margin-l-10 aui-margin-r-10 aui-margin-t-15 aui-margin-b-15">
        <div class="tags flex">
            <div class="tag-tit">标签 : </div>
            <p class="tag aui-margin-l-10 aui-margin-r-10 aui-margin-b-10 aui-padded-l-10 aui-padded-r-10">四肢骨</p>
            <p class="tag aui-margin-l-10 aui-margin-r-10 aui-margin-b-10 aui-padded-l-10 aui-padded-r-10">微课堂</p>
            <p class="tag aui-margin-l-10 aui-margin-r-10 aui-margin-b-10 aui-padded-l-10 aui-padded-r-10">骨科健身</p>
        </div>
    </div>
    <p class="copyright aui-margin-l-10 aui-margin-r-10 aui-margin-t-15 aui-margin-b-15">本文原创发布创伤学院App</p>
</div>
<div class="comment">
    <div class="aui-searchbar" id="search">
        <div class="aui-searchbar-input aui-border-radius">
            <p class="icon aui-margin-r-5"><img src="../../image/share/com-1.png" alt=""></p>
            <form action="javascript:search();">
                <input type="search" placeholder="发表评论" id="search-input">
            </form>
        </div>
        <div class="aui-searchbar-cancel searchBtn flex">
            <div id="com" class="icon aui-margin-r-15"><img src="../../image/share/com.png" alt=""></div>
            <div id="zan" class="icon aui-margin-r-15"><img src="../../image/share/zan.png" alt=""><div class="aui-badge">1</div></div>
            <div id="share" class="icon aui-margin-r-15"><img src="../../image/share/share.png" alt=""></div>
        </div>
    </div>
</div>
<div class="aui-mask share-mask aui-mask-in"></div>
<div class=" share-box ">
    <div class="aui-padded-15 share-items flex">
        <div class="share-item" id="share-wx">
            <div class="icon-box aui-padded-15">
                <div class="share-icon"><img src="../../image/share/wx.png" alt=""></div>
            </div>
            <p class="share-text">微信</p>
        </div>
        <div class="share-item" id="share-circle">
            <div class="icon-box aui-padded-15">
                <div class="share-icon"><img src="../../image/share/wx-circle.png" alt=""></div>
            </div>
            <p class="share-text">朋友圈</p>
        </div>
        <div class="share-item" id="share-copy">
            <div class="icon-box aui-padded-15">
                <div class="share-icon"><img src="../../image/share/copy.png" alt=""></div>
            </div>
            <p class="share-text">复制链接</p>
        </div>
    </div>
    <div class="close-mask">取&nbsp;&nbsp;消</div>
</div>
<div class="com2 aui-padded-15">
    <div class="com-top aui-margin-b-10 flex">
        <p class="com-text">至少输入5个字</p>
        <p class="release-btn">发布</p>
    </div>
    <textarea class="aui-padded-10" placeholder="我来说两句"></textarea>
</div>
</body>
<script src="../../lib/js/jquery-3.3.1.min.js"></script>
<script src="../../lib/js/api.js"></script>
<script type="text/javascript" src="../../lib/js/aui-slide.js"></script>
<script src="../../lib/js/aui-popup-new.js"></script>
<script src="article-detail.js"></script>
</html>