<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>增加参会人</title>
    <link rel="stylesheet" type="text/css" href="../../lib/css/aui.css"/>
    <link rel="stylesheet" type="text/css" href="../../lib/css/aui-slide.css"/>
    <link rel="stylesheet" type="text/css" href="add-attendee.css">
</head>
<body>
<div class="aui-content">
    <header>
        <a href="javascript:history.go(-1)"><p class="back"><i class="aui-iconfont aui-icon-left"></i></p></a>
        <p class="tit aui-text-default">增加参会人</p>
        <!--<p class="share head-right-text"><i class="aui-iconfont aui-icon-share"></i></p>-->
    </header>
    <ul class="aui-list aui-form-list">
        <li class="aui-list-item">
            <div class="aui-list-item-inner">
                <div class="aui-list-item-label">姓名</div>
                <div class="aui-list-item-input">
                    <input type="text" placeholder="请输入您的姓名">
                </div>
            </div>
        </li>
        <li class="aui-list-item">
            <div class="aui-list-item-inner">
                <div class="aui-list-item-label">医院</div>
                <div class="aui-list-item-input">
                    <input type="text" placeholder="请输入您所在的医院">
                </div>
            </div>
        </li>
        <li class="aui-list-item">
            <div class="aui-list-item-inner">
                <div class="aui-list-item-label">科室</div>
                <div class="aui-list-item-input">
                    <input type="text" placeholder="请输入您的科室名称">
                </div>
            </div>
        </li>
        <li class="aui-list-item">
            <div class="aui-list-item-inner">
                <div class="aui-list-item-label">职称</div>
                <div class="aui-list-item-input">
                    <input type="text" placeholder="请输入您的职称">
                </div>
            </div>
        </li>
        <li class="aui-list-item">
            <div class="aui-list-item-inner">
                <div class="aui-list-item-label">号码</div>
                <div class="aui-list-item-input">
                    <input type="text" placeholder="请输入您的手机号码">
                </div>
            </div>
        </li>
        <li class="aui-list-item">
            <div class="aui-list-item-inner">
                <div class="aui-list-item-label">邮箱</div>
                <div class="aui-list-item-input">
                    <input type="text" placeholder="请输入您的邮箱账号">
                </div>
            </div>
        </li>
    </ul>
    <div id="ok" class="aui-btn aui-padded-t-10 aui-padded-b-10 aui-btn-warning">确&nbsp;&nbsp;认</div>
</div>
</body>
<script src="../../lib/js/jquery-3.3.1.min.js"></script>
<script src="../../lib/js/api.js"></script>
<script type="text/javascript" src="../../lib/js/aui-slide.js"></script>
<script src="../../lib/js/aui-popup-new.js"></script>
<script src="add-attendee.js"></script>
</html>