<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>意见反馈</title>
    <link rel="stylesheet" type="text/css" href="../../lib/css/aui.css"/>
    <!--<link rel="stylesheet" type="text/css" href="../../lib/css/aui-slide.css"/>-->
    <link rel="stylesheet" type="text/css" href="opinion.css">
</head>
<body>
<header>
    <a href="javascript:history.go(-1)"><p class="back"><i class="aui-iconfont aui-icon-left"></i></p></a>
    <p class="tit aui-text-default">意见反馈</p>
    <div class="share head-right-text">关闭</div>
</header>
<div class="aui-content">
    <div class="aui-list-item-input aui-padded-15">
        <textarea></textarea>
    </div>
    <div class="pics aui-margin-15 flex">
        <div class="up-img"><img class="pic" src="" alt=""><input class="up" type="file"></div>
        <div class="up-img"><img class="pic" src="" alt=""><input class="up" type="file"></div>
        <div class="up-img"><img class="pic" src="" alt=""><input class="up" type="file"></div>
    </div>
</div>
</body>
<script src="../../lib/js/jquery-3.3.1.min.js"></script>
<script src="../../lib/js/api.js"></script>
<script src="../../lib/js/aui-dialog.js"></script>
<script src="opinion.js"></script>
</html>