<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>AUI-test</title>
    <link rel="stylesheet" type="text/css" href="../../lib/css/aui.css"/>
    <link rel="stylesheet" type="text/css" href="../../lib/css/aui-slide.css"/>
    <link rel="stylesheet" href="living.css">
</head>
<body>
<header>
    <a href="javascript:history.go(-1)"><p class="back"><i class="aui-iconfont aui-icon-left"></i></p></a>
    <p class="tit aui-text-default">正在直播</p>
    <p></p>
</header>
<div class="aui-content">
    <div class="live-box">
        <a href="#">
            <div class="audio-img">
                <img src="../../image/live5.png" alt="">
                <!--<div class="desc">-->
                    <!--<p class="desc-tit">『创伤·骨科』</p>-->
                    <!--<p class="desc-txt">共3场直播</p>-->
                <!--</div>-->
            </div>
        </a>
        <div class="flex aui-padded-10">
            <p class="area-text">四肢骨不连治疗技术</p>
            <div class="time flex">
                <div class="live-icon"><i class="aui-iconfont aui-icon-video"></i>LIVE</div>
                <p class="watch-num aui-margin-l-10"><i class="aui-iconfont aui-icon-my"></i>1029</p>
            </div>
        </div>
    </div>
    <div class="live-box">
        <a href="#">
            <div class="audio-img">
                <img src="../../image/live6.png" alt="">
                <!--<div class="desc">-->
                <!--<p class="desc-tit">『创伤·骨科』</p>-->
                <!--<p class="desc-txt">共3场直播</p>-->
                <!--</div>-->
            </div>
        </a>
        <div class="flex aui-padded-10">
            <p class="area-text">盆骨髋臼骨折治疗技术</p>
            <div class="time flex">
                <div class="live-icon"><i class="aui-iconfont aui-icon-video"></i>LIVE</div>
                <p class="watch-num aui-margin-l-10"><i class="aui-iconfont aui-icon-my"></i>1029</p>
            </div>
        </div>
    </div>
    <div class="live-box">
        <a href="#">
            <div class="audio-img">
                <img src="../../image/live7.png" alt="">
                <!--<div class="desc">-->
                <!--<p class="desc-tit">『创伤·骨科』</p>-->
                <!--<p class="desc-txt">共3场直播</p>-->
                <!--</div>-->
            </div>
        </a>
        <div class="flex aui-padded-10">
            <p class="area-text">手术现场</p>
            <div class="time flex">
                <div class="live-icon"><i class="aui-iconfont aui-icon-video"></i>LIVE</div>
                <p class="watch-num aui-margin-l-10"><i class="aui-iconfont aui-icon-my"></i>1029</p>
            </div>
        </div>
    </div>
</div>
</body>
<script src="../../lib/js/jquery-3.3.1.min.js"></script>
<script src="../../lib/js/api.js"></script>
<script type="text/javascript" src="../../lib/js/aui-slide.js"></script>
<script src="living.js"></script>
</html>