<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>修改手机号</title>
    <link rel="stylesheet" type="text/css" href="../../lib/css/aui.css"/>
    <!--<link rel="stylesheet" type="text/css" href="../../lib/css/aui-slide.css"/>-->
    <link rel="stylesheet" type="text/css" href="set-phone.css">
</head>
<body>
<header>
    <a href="javascript:history.go(-1)"><p class="back"><i class="aui-iconfont aui-icon-left"></i></p></a>
    <p class="tit aui-text-default">修改手机号</p>
    <div class="share head-right-text">保存</div>
</header>
<div class="aui-content">
    <input class="aui-input aui-margin-t-15 aui-padded-l-15 aui-padded-r-15 aui" type="text">
    <p class="aui-padded-15 remind">请输入新的手机号码</p>
</div>
</body>
<script src="../../lib/js/jquery-3.3.1.min.js"></script>
<script src="../../lib/js/api.js"></script>
<script src="set-phone.js"></script>
</html>