<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>专家有约</title>
    <link rel="stylesheet" type="text/css" href="../../lib/css/aui.css"/>
    <link rel="stylesheet" type="text/css" href="../../lib/css/aui-slide.css"/>
    <link rel="stylesheet" href="big-img.css">
</head>
<body>
<div class="aui-content">
    <header>
        <a href="javascript:history.go(-1)"><p class="back"><i class="aui-iconfont aui-icon-left"></i></p></a>
        <p class="tit aui-text-default">VIP特权</p>
        <p class="head-right-text"></p>
    </header>
    <div class="pic">
        <img style="width: 100%;" src="../../image/big-pic.jpg" alt="">
    </div>
    <div class="become-vip aui-padded-10">
        <div class="aui-btn aui-btn-warning aui-btn-block aui-btn-sm vip-btn">开通会员</div>
    </div>
</div>
</body>
<script src="big-img.js"></script>
</html>